<div class="bg-white pv4">

    <div class="mw7 center">
        <ul class="flex-ns flex-wrap mhn1-ns pa3">
            {{ $paginator := .Paginate (where .Site.Pages "Section" "reviews") 4 }}
            {{ range .Paginator.ByPublishDate.Reverse }}
            <div class="w-50-ns ph1-ns flex">
              {{ .Render "li"}}
            </div>
            
            {{ end }}
            
        </ul>
     
      </div>

    <div class="tc">
        <a href="/reviews" class="btn raise">See our latest reviews</a>
    </div>
</div>